<div class="tabs">
  <ul #list></ul>
  <div #content></div>
</div>

<!--
<tabs>
  <tab>
    <tab-title>t1</tab-title>
    <tab-content>c1</tab-content>
  </tab>
  <tab>
    <tab-title>t2</tab-title>
    <tab-content>c2</tab-content>
  </tab>
</tabs>


<div class="tabs">
  <ul>
    <li class="active">t1</li>
    <li>t2</li>
  </ul>
  <div class="content">
    c1
  </div>
</div>

<div class="tabs">
  <ul>
    <li>t1</li>
    <li class="active">t2</li>
  </ul>
  <div class="content">
    c2
  </div>
</div>
-->
